* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-img {
    width: 100vw;
    height: 89vh;
    background-image: url(/projects/projectName4/images/Path\ 15.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-container {
    width: 1176px;
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

h1 {
    color: #D3E10E;
    font-size: 83px;
    font-family: 'Assistant';
    font-weight: bold;
}

p{
    color: white;
    font-family: 'Assistant';
    font-size: 20px;
}

.lower-container{
    width: 100vw;
    height: 10vh;
    margin-top: 3px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-self: center;
}

.form {
    width: 50vw;
    display: flex;
    align-items: flex-end; 
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
}

.form-control label {
    margin-bottom: 5px;
    font-family: 'Assistant';
    font-weight: bold;
    font-size: 16px;
    color: #011560;
}

.form-control input {
    width: 300px;
    height: 40px;
    border: 0;
    border-bottom: 4px solid #D3E10E;
    background: transparent;
    background-color: #F6F6F6;
}

button{
    align-self: flex-end;
    width: 160px;
    height: 40px;
    margin-right: 25px;
    font-size: 22px;
    font-family: 'Assistant';
    font-weight: bold;
    border: 0;
    cursor: pointer;
    background-color: #D3E10E;
    color: #011560;
}

@media (max-width: 768px){
    .background-img{
        width: 100vw;
        height: 50vh;
        margin-bottom: 50px;
    }

    .upper-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .upper-container h1{
        font-size: 35px;
    }

    .upper-container p{
        width: 70vw;
        font-size: 15px;
    }

    .lower-container{
        width: 90vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .form{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        width: 100%;
    }

    .form-control input{
        background-color: #E5EEFF;
        width: 300px;
    }

    #email{
        margin-bottom: 25px;
    }
    
    button{
        width: 300px;
        margin: 0;
    }

}